/* 自定义css */
#page-header{
    overflow: hidden;
}
/* #page-header::before{    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);;
    z-index: 1;
    filter: blur(3px);
    background: url('../img/fairy.jpg') no-repeat;
    background-size: 100% 100%;
} */
#page-header[page-size=min]::before{
    background: url('../img/gotsisop.jpg') no-repeat;
    filter: blur(1px);
    background-size: 100%;
}


/* pwa相关 */
.app-refresh {
    position: fixed;
    top: -2.2rem;
    left: 0;
    right: 0;
    z-index: 99999;
    padding: 0 1rem;
    font-size: 15px;
    height: 2.2rem;
    transition: all 0.3s ease;
}
.app-refresh-wrap {
    display: flex;
    color: #fff;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.app-refresh-wrap span {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.aplayer-flod{
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    top: 90%;
    z-index: 1;
    /* border: 2px solid #ccc; */
    background: url('/img/cloudmusic.png') no-repeat center;
    background-size: cover;
    transition: all .6s ease-in-out;
    cursor: pointer;
}
.aplayer-flod[left=true]:hover{
    background: url('/img/right.png') no-repeat center;
    background-size: cover;
    transform: rotate(360deg);
}
.aplayer-flod[left=false]:hover{
    background: url('/img/right.png') no-repeat center;
    background-size: cover;
    transform: rotate(180deg);
}
.aplayer-flod[flod=false]{
    display: none;
}
.aplayer-flod[left=true]{
    left: 2%;
}
.aplayer-flod[left=false]{
    right: 0;
}
.aplayer-container{
    position: fixed;
    /* width: 14rem; */
    width: 18rem;
    top: 80%;
    z-index: 6;
    border: 3px solid var(--tab-border-color);
    border-radius: 5px;
    color: var(--font-color);
    user-select: none;
    transition: width .3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    background: var(--card-bg);
    box-shadow: var(--card-hover-box-shadow);
}
.aplayer-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255,.3);
    z-index: -1;
    filter: blur(6px);
}
.aplayer-container p {
    display: inline-block;
    width: 92%;
    margin: 0;
    padding-left: 7px;
    cursor: move;
}
.aplayer-container i{
    margin-right: 5px;
}
.aplayer-container .closemusic{
    cursor: pointer;
}
.aplayer{
    border-radius: 3px;
}

.layout_post>#post{
    background: rgba(255, 255, 255, 0)
}
#site-info {
    right: -10%;
    top: 70%!important;
    z-index: 1;
}
#post-info {
    z-index: 1;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background-color: rgba(73, 177, 245, .2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb{
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255,255,255, .4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255,255,255,.4) 50%,
        rgba(255,255,255,.4) 75%,
        transparent 75%,
        transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

::-moz-selection{
    color: #fff;
    background-color: #49b1f5;
}


.waves {
    width: 100%;
    height: 15vh;
    margin-bottom: -.6875rem;
    min-height: 3.125rem;
    max-height: 9.375rem;
    position: relative;
    top: -5.4rem;
}

@media (max-width: 767px) {
    .waves {
        height:10vh
    }
}

.parallax>use {
    -webkit-animation: wave 25s cubic-bezier(.55,.5,.45,.5) infinite;
    animation: wave 25s cubic-bezier(.55,.5,.45,.5) infinite
}

.parallax>use:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    fill: #B6FED099;
    /* fill: var(--grey-1-a7); */
}
#test-svg{
    --color-stop-1: #B6FED0;
    --color-stop-1: #6DE8FB;
    --color-stop-1: #C3F24D;
    --color-stop-1: #FFF0FB;
}
.parallax>use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    fill: #6DE8FB99;
    /* fill: var(--grey-1-a5) */
}

.parallax>use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
    fill:#C3F24D99;
    /* fill: var(--grey-1-a3) */
}

.parallax>use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    fill: #FFF0FB10;
    /* fill: var(--grey-1) */
}

@-webkit-keyframes wave {
    0% {
        transform: translate3d(-90px,0,0)
    }

    100% {
        transform: translate3d(85px,0,0)
    }
}

@keyframes wave {
    0% {
        transform: translate3d(-90px,0,0)
    }

    100% {
        transform: translate3d(85px,0,0)
    }
}
